
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

:root{
  --portfolio-blue: rgb(15, 15, 30);
  --portfolio-red: rgb(171, 63, 73);
}

/* GENERALS */

*{
  box-sizing: border-box;
}

body, html{
  width: 100%;
  position: relative;
  margin: 0;
}

main{
  position: relative;
  overflow: hidden;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6, ul{
  font-family: "Lato";
  margin: 0; 
  padding: 0;
}

.title-font{
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
}

banner, projects, education, skills{
  display: flex;
  width: 100%;
}

.projects, .education, .skills{
  background-color: var(--portfolio-blue);
}

.projects, .education, .skills, .portfolio-footer{
  position: relative;
  width: 100%;
}

/* CLASS CONTAINERS */

.container{
  position: relative; 

}

.top-container{
  margin: 20px 20px 0 20px;
}


/* BANNER MODULE RULES */

banner{
  width: 100%;
  flex-direction: column;
}

.banner{
  position: relative;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-image: url(/dist/banner/test9.jpg);
  background-size: cover;
  padding: 20px;
}

.banner-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.banner-title:first-child{
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: rgb(55, 55, 75);
}

.banner-title:nth-child(2){
  font-size: 16px;
  font-weight: 100;
  color: #333;
  padding-top: 5px;
}

.banner-portrait{
  display: none;
  position: absolute;
  bottom: -120px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}

.banner-portrait > img{
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}


.banner-menu{
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
}

.banner-menu-icons{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  padding: 0 20px;
}

.banner-menu-icons > li{
  display: inline-block;
}

/* PROJECTS MODULES RULES */

projects{
  margin: 0 0 20px 0;
}

.section-title::after{
  content:"";
  position: absolute;
  top: 0;
  right: 18vw;
  width:0;
  height:0;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 50px solid white;
}

.section-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 0 100px 30px;
}

.section-title > h1{
  position: absolute;
  color: var(--portfolio-red);
}

.section-title > h3{
  position: relative;
  top: -5px;
  left: 93px;
  font-size: 25px;
  color: white;
}

.featured{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 0 40px 0;
  border-top: 1px dashed white;
}

.featured-img-container{
  width: 100%;
  order: 2;
  border-top: 1px solid var(--portfolio-blue);
  border-bottom: 1px solid white;
}
.featured-img-container > img{
  max-width: 100%;
  border-bottom: 1px solid var(--portfolio-blue);
  vertical-align: top;
}

.project-title{
  width: 100%;
  order: 1;
  color: white;
  font-size: 34px;
  font-style: italic;
  padding: 15px;
  border-bottom: 1px solid white;
}

  .project-title > span{
    color: var(--portfolio-red);
  }

.project-subtitle{
  width: 100%;
  order: 3;
  color: white;
  font-weight: 100;
  text-align: center;
  padding: 20px;
  background-color:  rgba(140, 40, 70, 1);
}

.project-bulletpoints{
  order: 3;
  font-size: 16px;
  padding: 20px 20px 20px 30px;
  font-weight: 100;
  color: white;
}

.bulletpoint{
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
}
/*
body, html{
  width: 100%;
  position: relative;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6, .font-title, .font-text{
  font-family: "Lato";
  margin: 0;
}

banner, projects, education, skills{
  width: calc(100% - 80px);
}

.projects, .education, .skills{
  background-color: var(--portfolio-blue);
}

main{
  overflow: hidden;
  width: 100%;
}

ul{
  margin-top: 0.3em;
}

.font-title{
  font-weight: 900;
  font-style: italic;
  color: white;
}

.font-text{
  font-weight: 300;
  color: black;
}

.container{
  position: relative; 
  margin: 0 40px 40px 40px;
}

.top-container{
  margin: 40px 40px 0 40px;
}

.inner-container{
  padding: 40px;
}

.thick-inner-container{
  padding: 120px;
}

.full-height-container{
  height: 860px;
  display: block;
  position: relative;

}

banner{
  display: flex;
  flex-flow: column nowrap;
}

.banner-menu-container{
  display: flex;
  justify-content: center;
  position: relative;
  height: 80px;
}

.banner-menu-container::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 0;
  height: 0;
  border-left: 27vw solid var(--portfolio-blue);
  border-right: 40px solid transparent;
  border-bottom: 40px solid var(--portfolio-blue);
}

.banner{
  background-image: url(/dist/banner/banner-xl-2x-v2.jpg);
  background-size: cover;
  padding: 3% 0 12.5% 0;
  height: 800px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.banner-name{
  display: none;
  font-size: 45px;
  margin: 0 10px 10px 10px;
  text-align: center;
}

.banner-title{
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: rgb(95, 130, 172);
}

.banner-title:first-of-type{
  margin: 0 10%;
  justify-content: flex-end;
  font-size: 70px;
  color: rgb(55, 55, 75);
}

.banner-title:nth-of-type(2){
  font-weight: 100;
}

.banner-title:last-of-type{
  justify-content: flex-start;
  font-size: 40px;
  color: rgb(230, 230, 250);
}

.banner-menu{
  position: absolute;
  min-height: 100%;
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-menu > ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.banner-menu li{
  display: inline-block;
  font-size: 35px;
  margin: 0 10px;
}

.banner-menu li:nth-of-type(2){
  padding-right: 250px;
  margin: 0 0 0 10px;
}

.banner-menu li>a{
  text-decoration: none;
  color: black;
}

.portrait-container{
  position: absolute;
  top: calc(0% - 125px);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.portrait-container>img{
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
  z-index: 1;
}

projects{
  display: block;
}

.projects{
  background-color: var(--portfolio-blue);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-title{
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title>h1{
  margin: 0 0 0 12%;
  font-size: 150px;
  color: white;
}

.featured-projects{
  width: 50%;
  display: flex;
  justify-content: center;
}

.featured-projects::after{
  content:"";
  position: absolute;
  top: 0;
  right: -4vw;
  width:0;
  height:0;
  border-right: 27vw solid transparent;
  border-left: 27vw solid transparent;
  border-top: 27vw solid white;
}

.featured-projects>h3{
  font-size: 80px;
  color: var(--portfolio-blue);
  z-index: 1;
}

.featured{
  position: relative;
  margin: 110px 140px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.featured-top::before{
  position: absolute;
  content:"";
  top: -300px;
  height: 0;
  width: 0;
  border-right: 32vw solid transparent;
  border-left: 32vw solid transparent;
  border-bottom: 35vw solid rgba(255,255,255, 0.02);
  z-index: 0;
}

.featured-bot::after{
  position: absolute;
  content:"";
  top: 0;
  height: 0;
  width: 0;
  border-right: 32vw solid transparent;
  border-left: 32vw solid transparent;
  border-bottom: 35vw solid rgba(255,255,255, 0.02);
  z-index: 0;
}

.even-project>.projects-img-container{
  order: 1;
}

.even-project .project-subtitle{
  background: linear-gradient(to left, rgb(63,63,83), rgb(15, 15, 30));
}

.even-project .project-bulletpoints{
  background: linear-gradient(to left, rgb(55,55,75), rgb(15, 15, 30));
}

.even-project .project-content{
  flex: 1;
  order: 1;
}

.projects-img-container{
  background-color: white;
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-img-container>img{
  padding: 10px;
  max-width: 100%
}
.projects-content-container{
  padding-bottom: 10px;
  display: flex;
  height: 100%;
  flex: 1;
}

.project-content>h3{
  margin: 0;
  font-size: 60px;
  padding-left: 30px;
}

.project-content{
  display: flex;
  flex-flow: column nowrap;
}

.project-subtitle{
  font-size: 18px;
  background: linear-gradient(to right, rgb(63,63,83), rgb(15, 15, 30));
  margin: 0;
  padding: 55px 0 55px 30px;
}

.project-subtitle>h6{
  margin: 0;
}

.projects-github-container{
  width: 150px;
}

.project-bulletpoints{
  flex: 1;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 20px 20px 0 50px;
  background: linear-gradient(to right, rgb(55,55,75), rgb(15, 15, 30));
}

.project-bulletpoints>ul{
  padding: 0;
}

.project-bulletpoints li{
  margin-top: 10px;
}

.other-projects-container{
  margin: 0 20px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
}

.other-projects{
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.other-projects-title{
  margin-right: 60px;
  width: 500px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-projects-title>h1{
  font-size: 75px;
  margin: 0;
}

.other-project-name{
  margin: 0 0 0 80px;
  font-size: 16px;
  font-weight: 200;
}

.other{
  margin: 0 40px;
  width: 180px;
  height: 180px;
  background-color: rgb(40, 40, 60);
  border-radius: 10px;
}

.other>img{
  max-width: 100%;
  padding: 10px;
}


education::after{
  content: "";
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border: 200px solid var(--portfolio-red);
}

.education{
  display: flex;
  width: 100%;
  height: 100%;
}

.education-title{
  flex: 0.9;
  display: flex;
  justify-content: center;
}

.education-title::after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 430px;
  border-top: 2px solid white;
  border-left: 900px solid white;
  border-right: 900px solid white;
  border-bottom: 2px solid white;
}

.education-title>h1{
  margin: 0;
  font-size: 130px;
}

.school-square{
  padding: 0;
  max-width: 860px;
  position: relative;
  display: flex;
}

.school-rotating-background{
  position: relative;
  flex: 1;
  transform: rotate(45deg);
  background-color: white;
  z-index: 1;
}

.schools-container{
  padding: 180px 80px;
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: rotate(-45deg);
}

.school{
  padding: 13px 30px;
  width: 50%;
  z-index: 1;
}

.school-logo-location{
  display: flex;
}

.school-logo-location img{
  max-height: 40px;
}

.school-logo-location p{
  margin: 10px 0 10px 10px;
  font-size: 14px;
}

.school-header{
  display: inline-block;
}

.school-title{
  font-size: 22px;
  font-weight: 900;
  margin: 0;
}

.school-date{
  margin: 0;
  font-size: 12px;
  font-weight: 200;
}

.school-program{
  margin: 0;
  font-weight: 500;
}

.school-description{
  font-size: 16px;
}



.skills{
  display: flex;
  width: 100%;
  height: 100%;
}

.skills > aside{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  background: linear-gradient(to left, #0f0f1e 0, #0f0f1e 50%, white 50%)
}

.skills > aside::before{
  content: "";
  position: absolute;
  right: 0;
  width: 450px;
  height: 860px;
  background: url("../../dist/images/skills/face-alt2.png");
  background-size: contain;
}

.skills > aside::after{
  content: "";
  position: absolute;
  right: 50px;
  width: 450px;
  height: 860px;
  background: url("../../dist/images/skills/face-white.png");
  background-size: contain;
}

.skills-container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  width: 50%;
  z-index: 1;
}

.skills-title{
  font-size: 150px;
  color: white;
  margin: 165px 0 0 230px;
}

.skill{
  margin: 0 10px;
  font-weight: 900;
}

skills::after{
  content:"";
  position: absolute;
  bottom: -17%;
  right: 10%;
  width:0;
  height:0;
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  border-top: 150px solid var(--portfolio-blue);
}

portfolio-footer{
  position: relative;
  display: flex;
  width: 100%;
}

.portfolio-footer{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.content{
  height: 760px;
  width: 100%;
  position: relative;
  display: flex;
}

.central-content{
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.central-content::before{
  content: "";
  height: 800px;
  width: 900px;
  background-color: white;
  left: 7%;
  bottom: 0;
  position: absolute;
  z-index: 1;
  border-radius: 0 0 100% 100%;
}

div.footer-title{
  display: inline-block;
  text-align: right;
  margin: 0 150px 150px 0;
  align-self: flex-end;
  z-index: 1;
}

h1.footer-title, h4.footer-title{
  font-style: normal;
  margin: 0;
}

h1.footer-title{
  color: var(--portfolio-blue);
  font-size: 150px;
  line-height: 0.8em;
}

h4.footer-title{
  color: var(--portfolio-red);
  font-size: 30px;
}

div.chat-bubble::after{
  content: "";
  height: 260px;
  width: 70%;
  background-color: white;
  left: 50%;
  bottom: -35%;
  position: absolute;
  z-index: 2;
  border-radius: 100%;
}

div.chat-bubble{
  position: relative;
  width: 410px;
  margin-left: 280px;
  z-index: 3;
}

p.chat-bubble{
  position: relative;
  font-size: 18px;
  z-index: 3;
}

span.chat-bubble{
  display: block;
}

h4.chat-bubble{
  position: relative;
  color: black;
  font-style: normal;
  font-size: 30px;
  margin: 25px 0 0 0;
  text-align: center;
  z-index: 3;
}

.map-block-container{
  position: relative;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 40px 40px 0;
  z-index: 2;
}

.map-block-container::after{
  content: "";
  height: 70px;
  width: 600px;
  background-color: var(--portfolio-red);
  left: -600px;
  bottom: 70px;
  position: absolute;
  z-index: 1;
}

.map-text{
  font-size: 20px;
  display: flex;
  position: relative;
  margin-bottom: 5px;
}

h6.map-text{
  position: absolute;
  margin: 0;
  font-size: 16px;
  top: -1em;
}

h5.map-text{
  font-weight: 500;
}

p.map-text{
  color: black;
  font-style: normal;
  padding-left: 0.8em;
}

.map-container{
  height: 400px;
  background-color: rgb(61, 61, 82);
  border: 1px solid black;
  padding: 10px;
}

ng-map{
  height: 100%;
}

footer{
  position: relative;
  background-color: var(--portfolio-blue);
  display: flex;
  justify-content: flex-end;
  padding: 10px 60px;
  bottom: 0;
  height: 150px;
}

footer::before{
  content: "";
  height: 650px;
  width: 580px;
  background-color: var(--portfolio-blue);
  left: 0;
  bottom: 0;
  position: absolute;
}

footer::after{
  content: "";
  height: 0;
  width: 0;
  left: -230px;
  bottom: 650px;
  border-right: 230px solid transparent;
  border-left: 230px solid transparent;
  border-bottom: 225px solid var(--portfolio-blue);
  position: absolute;
  z-index: 1;
}

.profile-image{
  position: absolute;
  z-index: 1;
  height: 190px;
  width: 190px;
  top: -110px;
  left: 430px;
  padding: 15px;
  border-radius: 100%;
  background-color: white;
}

.profile-image > img{
  max-width: 100%;
  border-radius: 100%;
}

nav.media-links{
  margin-top: 1em;
  display: flex;
  color: white;
}

div.media-links{
  margin-right: 40px;
}



a.media-link{
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.media-link-title{
  padding-left: 20px;
  font-weight: 500;
}*/





/*@media screen and (min-width: 1921px){

  main{
    max-width: 1920px;
    margin: 0 auto;
  }
    
  .banner-menu-container::before{
    border-left: 580px solid var(--portfolio-blue);
  }

  .banner-menu-container::after{
    border-right: 515px solid transparent;
    border-left: 515px solid transparent;
    border-top: 530px solid white;
  }

  footer::after{
    left: -300px;
    border-right: 300px solid transparent;
    border-left: 300px solid transparent;
  }

  @media screen and (max-width: 1750px){
    .banner{
      padding: 3% 0 14% 0;
    }

    .section-title h3{
      font-size: 70px;
    }

    footer::after{
      border-right: 205px solid transparent;
      border-left: 205px solid transparent;
      border-bottom: 205px solid var(--portfolio-blue);
    }
*/

  /*@media all and (max-width: 1800px){
    .banner-menu-container::before{
      border-left: 20vw solid var(--portfolio-blue)
    }
  }
  @media all and (max-width: 1750px){
    .banner-title:last-of-type{
      color: rgb(55,55,75);
      font-size: 30px;
    }

    .featured-projects > h3{
      font-size: 50px;
    }
  }

  @media all and (max-width: 1440px){

    .portrait-container{
      width: 200px;
      height: 200px;
      top: calc(0% - 100px);
    }

    .banner-menu-container::before{
      display: none;
    }

    .section-title{
      justify-content: center;
    }

    .section-title>h1{
      margin: 90px 0 0 117px;
      font-size: 100px;
      z-index: 2;
    }

    .featured-projects > h3{
      position: absolute;
      top: 110px;
      left: 90px;
      font-size: 160px;
      color: var(--portfolio-red);
    }

    .featured-projects::after{
      right: 0;
      border-right: 23vw solid transparent;
      border-left: 23vw solid transparent;
      border-top: 24vw solid white;
    }
  }*/
/*
  @media all and (max-width: 1350px){

    .featured-projects > h3{
      position: absolute;
      top: 80px;
      font-size: 130px;
    }

    .section-title>h1{
      margin: 30px 0 70px 110px;
    }
  }

  @media all and (max-width: 1180px){
    .banner{
      height: 600px;
    }

    .banner-title{
      font-weight: 100;
    }

    .banner-title:first-of-type, .banner-title:last-of-type{
      font-weight: 900;
    }

    .banner-title:first-of-type{
      font-size: 50px;
    }

    .banner-title:nth-of-type(3){
      font-size: 30px;
    }

  }

  @media all and (max-width: 1024px){
    .featured-projects::after{
      border-right: 20vw solid transparent;
      border-left: 20vw solid transparent;
      border-top: 22vw solid white;
    }

    .portrait-container{
      width: 170px;
      height: 170px;
      top: calc(0% - 90px);
    }

    .featured-projects > h3{
      font-size: 110px;
    }

    .section-title>h1{
      font-size: 90px;
      margin: 30px 0 110px 110px;
    }
  }

  @media all and (max-width: 860px){
    .banner{
      height: 500px;
    }

    .banner-menu{
      width: 90%;
    }

    .featured-projects::after{
      right: 7vw;
      border-right: 12vw solid transparent;
      border-left: 12vw solid transparent;
      border-top: 12vw solid white;
    }
  }

  @media all and (max-width: 640px){


    .banner{
      height: 300px;
      padding: 0;
      justify-content: flex-start;
      padding-top: 60px;
    }

    .banner-menu{
      width: 100%;
      padding-bottom: 10px;
    }

    .banner-menu li:nth-of-type(2){
      padding-right: 0;
    }

    .banner-title, .banner-name{
      color: var(--portfolio-blue);
    }

    .banner-name{
      display: block;
    }

    .banner-title:nth-of-type(2), .banner-title:nth-of-type(3){
      display: none;  
    }

    .banner-title:first-of-type{
      display: flex;
      font-size: 14px;
      font-weight: 100;
      justify-content: center;
    }

   .portrait-container{
      display: none;
    }

    .section-title > h1{
      position: absolute;
      top: 190px;
      margin: 0;
      order: 2;
    }

    .featured-projects > h3 {
      left: initial;
    }

    .featured-projects{
      padding-top: 80px;
      width: 100%; 
    }
  }

  @media all and (max-width: 540px){

    .banner{
      background-image: none;
      height: 180px;
      padding: 0;
      justify-content: center;
    }

    .section-title>h1{
      top: 175px;
      font-size: 70px;
    }

    .featured-projects > h3{
      font-size: 90px;
    }
  }

  @media all and (max-width: 460px){
    .featured-projects > h3 {
      font-size: 70px;
    }

    .section-title>h1 {
      font-size: 50px;
    }
  }*/

@media all and (min-width: 460px){
  banner{
    margin: 20px 20px 0 20px;
  }
  banner, projects, education, skills{
    width: calc(100% - 40px);
  }

  projects, education, skills{
    margin: 0 20px 20px 20px;
  }

  .banner{
    height: 260px;
    padding: 55px 10px 10px 10px;
  }

  .section-title{
    padding: 80px 0 120px 40px;
  }
  .section-title > h3{
    top: -5px;
    left: 115px;
    font-size: 28px;
  }

  .section-title > h1{
    font-size: 60px;
  }
}

@media all and (min-width: 540px){
  .banner{
    height: 300px;
  }

  .banner-title:first-child{
    font-size: 40px;
  }

  .banner-menu-icons{
    padding: 0 20px;
  }

  .section-title > h1{
    font-size: 70px;
  }

  .section-title > h3{
    top: 50px;
    left: 10px;
    font-size: 45px;
  }

  .project-title{
    font-size: 45px;
    padding: 20px 30px;
  }
}

@media all and (min-width: 640px){
  .banner{
    height: 320px;
  }

  .banner-menu{
    height: 80px;
  }


  .banner-title:first-child{
    font-size: 45px;
  }

  .section-title{
    padding: 80px 0 160px 8%;
  }

  .section-title > h1{
    font-size: 90px;
  }

  .section-title > h3{
    font-size: 45px;
    left: 20px;
    top: 70px;
  }

  .project-title{
    font-size: 50px;
  }
}

@media all and (min-width: 750px){
  .banner{
    height: 380px;
  }

  .section-title > h1{
    font-size: 100px;
  }

  .section-title > h3{
    font-size: 45px;
    left: 185px;
  }
}

@media all and (min-width: 860px){
  banner, projects, education, skills{
    width: calc(100% - 80px);
  }

  projects, education, skills {
    margin: 0 40px 40px 40px;
  }

  banner{
    margin: 40px 40px 0 40px;
  }

  .banner{
    padding-top: 80px;
    background-image: url("/dist/banner/banner-xl-2x-v2.jpg");
  }

  .banner-title:first-child{
    font-size: 55px;
  }

  .section-title{
    border-bottom: 1px dashed white;
  }

  .section-title::after{
    right: 5vw;
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
    border-top: 90px solid white;
  }

  .banner-menu-icons{
    width: 70%;
    font-size: 40px;
    padding: 0 10px;
  }

  .banner-menu-icons:nth-child(2){
    padding-right: 120px;
  }

  .featured{
    width: calc(100% - 80px);
    margin: 0 auto 80px auto;
    border-top: none;
  }

  .featured-img-container{
    border: 10px solid white;
  }

  .project-subtitle{
    border-left: 10px solid white;
    border-right: 10px solid white;
  }

  .project-bulletpoints{
    width: 100%;
    background-color: rgb(55, 55, 80);
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
  }  

  .section-title > h1{
    font-size: 120px;
  }

  .section-title > h3{
    font-size: 55px;
    top: 85px;
    left: 223px;
  }
}
 
@media all and (min-width: 1024px){
  .top-container{
    margin: 40px 40px 0 40px;
  }

  .container{
    margin: 0 40px 40px 40px;
  }

  banner, projects, education, skills{
    width: calc(100% - 80px);
  }

  .banner{
    height: 500px;
    padding-top: 100px;
  }

  .banner-title:first-child{
    font-size: 65px;
  }

  .banner-title:nth-child(2){
    font-size: 18px;
  }

  .section-title::after{
    right: 8vw;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-top: 100px solid white;
  }

  .section-title{
    padding: 10% 12% 20% 12%;
    margin-bottom: 100px;
  }

  .featured{
    max-width: 940px;
    margin: 0 auto 80px auto;
    border: none;
  }

  .project-title{
    font-size: 52px;
    text-align: left;
    background: none;
  }

  .project-title > span{
    color: var(--portfolio-red);
  }

  .project-subtitle{
    padding: 15px 0;
    font-size: 14px;
  }

  .project-bulletpoints{
    padding: 40px;
  }


}

@media all and (min-width: 1440px){
  .banner{
    height: 650px;
  }

  .banner-title:first-child{
    font-size: 80px;
  }

  .banner-title:nth-child(2){
    font-size: 20px;
  }

  .section-title::after{
    right: 10vw;
  }

  .section-title{
    border: none;
    margin: 0;
  }

  .featured{
    max-width: 1200px;
    height: 480px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto 180px auto;
  }

  .featured-img-container{
    order: 1;
    width: 700px;
    height: 480px;
  }

  .project-title{
    padding: 0 0 10px 30px;
    border: none;
  }

  .project-subtitle{
    order: 1;
    width: 500px;
    padding: 15px 15px;
    background: linear-gradient(to right, rgb(171, 63, 73), rgb(15,15,30));
    border: none;
  }

  .project-bulletpoints{
    order: 1;
    width: 500px;
    height: 280px;
    border: none;
    background: linear-gradient(to right, rgb(55, 55, 80), rgb(15, 15, 30));
  }

  .featured:first-of-type{
    margin-top: 100px
  }

  .section-title > h1{
    font-size: 160px;
  }

  .section-title > h3{
    font-size: 75px;
    top: 110px;
    left: 300px;
  }

  .banner-menu-icons{
    margin: 0 30% 0 20px;
  }
}

@media all and (min-width: 1750px){
  .banner{
    padding-top: 180px;
    height: 750px;
  }

  .banner-menu-icons{
    margin: 0 60% 0 80px;
    justify-content: space-between;
  }

  .section-title::after{
    right: 14vw;
    border-right: 160px solid transparent;
    border-left: 160px solid transparent;
    border-top: 160px solid white;
  }

  .banner-portrait{
    display: flex;
  }

  .featured{
    max-width: 1300px;
  }

  .project-title{
    font-size: 65px;
  }

  .section-title > h1{
    font-size: 180px;
  }

  .section-title > h3{
    font-size: 95px;
    top: 125px;
    left: 310px;
  }
}

@media all and (min-width: 1920px){
  .banner{
    height: 860px;
  }

  .banner-menu-icons{
    margin: 0 60% 0 80px;
    justify-content: space-between;
  }

  .banner-title{
    font-size: 85px;
  }

  li.entypo-linkedin-circled:nth-child(2){
    padding: 0;
  }

  .featured{
    max-width: 1440px;
  }

  .project-subtitle{
    width: 750px;
  }

  .project-bulletpoints{
    width: 750px;
  }
}

@media all and (min-width: 1921px ){
  main{
    margin: 0 auto;
    max-width: 1920px;
  }
}




