@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

*{
  box-sizing: border-box;
}

p{
  margin: 0;
}

html,
 body{
  width: 100%;
}

img, embed, object, video{
  max-width: 100%;
}

img{
  display: block;
}

body{
  margin: 0;
  min-width: 375px;
  font-family: "Lato", sans-serif;
}

button{
  border-style: none;
  color:white;
  padding: 1px 15px;
}

section{
  position: relative;
}

header, .banner, .featured-work, .content, .self-description-container, footer{
  max-width: 1400px;
  margin: 0 auto;
}

header{
  position: relative;
  height: 40px;
  color: white;
  font-size: 12px;
  margin-bottom: 1px;
  background-color: #d23a36;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

header > button{
  width: 50px;
  height: 100%;
  font-size: 18px;
  background-color: #d95c50;
}

.navigation > li{
  margin-right: 15px;
  display: flex;
}

.handheld-title{
  padding-left: 20px;
}

.header-navigation{
  display: none;
}

.banner{
  height: 250px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  background-image: url(/dist/banner/banner-sm.jpg);
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
}

.banner > nav{
  position: absolute;
  -webkit-transform: translate(0, -48px);
  transform: translate(0, -48px);
  transition: transform 0.3s linear;
  width: 100%;
  background-color: rgba(210,58,55, 0.35);
  display: flex;
  justify-content: center;
  z-index: -1;
}

.banner-navigation{
  font-size: 13px;
  margin: 0;
  padding: 15px 0;
  display: flex;
}

.banner-navigation-container.open{
  -webkit-trasform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 0;
}

.banner-description{
  background-color: rgba(223, 101, 87, 0.5);
  padding: 12px 35px;
  display: flex;
  align-items: center;
}

.banner-description-extended{
  display: none;
}

.banner-description-text{
  text-indent: 10px;
  line-height: 150%;
  text-align: justify;
}

.banner-title{
  padding-left: 20px;
  height: 40%;
  font-size: 48px;
  font-weight: 400;
  display: none;
  align-items: center;
}

.featured-work{
  display: none;
}

.content{
  display: flex;
  flex-flow: column nowrap;
}

article{
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}

.article-text-container{
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.article-text{
  text-indent: 10px;
  font-weight: 300;
  text-align: justify;
}

.article-title{
  text-indent: 10px;
  font-size: 25px;
  font-weight: 900;
  padding: 30px 0 20px 0;
  margin: 0;
}


footer{
  margin-top: 20px;
  background-color: #d95c50;
  color: white;
}

footer > section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-content{
  padding: 30px 10px 20px 10px;
  text-indent: 10px;
  text-align: justify;
  flex-flow: column nowrap;
  display: flex;
  align-items: center;
}

.footer-content > p{
  width: 260px;
  font-size: 14px;
  padding: 20px 0 10px 0;
}

.footer-content:before{
  top: 0;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
  border-top: 175px solid white;
}

.footer-content:after{
  top: 0;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 70px solid #dc6353;
}

.footer-self-signature{
  font-size: 14px;
  font-style: italic;
  text-indent: 30px;
}

.self-description-medium, .self-description-large{
  display: none;
}

.footer-image-container{
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.footer-image-container > img{
  height: 90%;
  width: auto;
  border-radius: 50%;
}

.footer-navigation{
  margin: 0;
  padding: 0 0 30px 0;
  display: flex;
  justify-content: center;
}

.footer-navigation li{
  margin: 0 2.5px;
}

.round-button{
  background-color: white;
  border: 10px solid #e16f59;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-button > a{
  color: black;
  text-decoration: none;
  line-height: 160%;
}

footer > p{
  background-color: rgba(223, 101, 87, 0.5);
  padding: 10px 0 10px 0;
  text-align: center;
}

@media screen and (max-width: 619px){
  .banner{
    background-image: url(../dist/banner/banner-sm.jpg);
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 619px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 619px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 619px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 619px),
only screen and (                min-resolution: 192dpi) and (max-width: 619px),
only screen and (                min-resolution: 2dppx)  and (max-width: 619px) {
  .banner{
    background-image: url(/dist/banner/banner-sm-2x.jpg);
  }
}

@media screen and (min-width: 620px){

  .banner{
    background-image: url(../dist/banner/banner-md.jpg);
  }

  .banner p{
    line-height: 200%;
  }

  article{
    padding: 20px 20px 0 20px;
  }

  picture{
    max-width: 50%;
  }

  .article-title{
    padding: 0 20px 10px 20px;
  }

  .article-text{
    padding: 0 20px;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 620px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 620px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 620px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 620px),
only screen and (                min-resolution: 192dpi) and (min-width: 620px),
only screen and (                min-resolution: 2dppx)  and (min-width: 620px) {
    .banner{
    background-image: url(/dist/banner/banner-md-2x.jpg);
  } 
}

//Daqui em diante, os 'article' serão, futuramente, arrumados de forma a navegarmos por eles horizontalmente por meio de setas (que serão inclúidas quando vermos javascript no curso). 
@media screen and (min-width: 750px){

  header{
    margin-bottom: 0;
    justify-content: flex-end;
  }

  header > button{
    display: none;
  }

  .banner > nav{
    display: none;
  }

  .handheld-title{
    display: none;
  }

  .header-navigation{
    display: flex;
  }

  .banner{
    background-image: url(/dist/banner/banner-lg.jpg);
    height: 400px;
  }

  .banner-description{
    width: 65%;
  }

  .banner-description span{
    display: inline;
  }

  .banner-title{
    background-color: rgba(237,122,89, .4);
    width: 35%;
    height: 100%;
    padding: 0;
    font-size: 98px;
    display: flex;
    justify-content: center;
  }

  .featured-work{
    height: 30px;
    color: white;
    background-color: #d23a36;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .featured-work > h3{
    font-size: 12px;
    font-weight: 500;
  }

  .content{
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px;
  }

  article{
    width: calc(50% - 15px);
    padding: 0;
  }

  article > picture{
    max-width: 100%;
  }

  .article-text-container{
    background-color: rgba(242,242,242, .6);
    padding: 10px 0;
    color: #333333;
  }

  .article-title{
    padding: 15px 20px;
  }

  .article-text{
    font-size: 14px;
    padding: 0 20px 20px 20px;
  }

  footer{
    margin: 0 auto;
  }

  footer > section{
    height: 300px;
  }
  
  .footer-content:before{
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 190px solid white;
  }

  .footer-content:after{
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-top: 70px solid #dc6353;
  }

  .footer-content{
    padding: 50px 120px 20px 120px;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 750px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 750px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 750px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 750px),
only screen and (                min-resolution: 192dpi) and (min-width: 750px),
only screen and (                min-resolution: 2dppx)  and (min-width: 750px) {
  .banner{
    background-image: url(/dist/banner/banner-lg-2x.jpg);
  } 
}

//Essa parte não será necessária quando tiver javascript mais desenvolvido. 
@media screen and (min-width: 750px) and (max-width: 1100px){
  article:nth-of-type(3){
    margin-top: 30px;
  }
}

@media screen and (min-width: 1000px){

  .banner-description{
    padding: 12px 115px; 
  }

  .banner-title-text{
    font-size: 114px;
  }
}

@media screen and (min-width: 1100px){

  article{
    width: calc(33.33% - 20px);
  }
    
  .banner{
    background-image: url(/dist/banner/banner-xl.jpg);
  }

  .banner-title-text{
    font-size: 136px;
  }

  footer > section{
    height: 350px;
  }

  .self-description-large{
    display: inline;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1100px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1100px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1100px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1100px),
only screen and (                min-resolution: 192dpi) and (min-width: 1100px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1100px) {
  .banner{
    background-image: url(/dist/banner/banner-xl-2x.jpg);
  } 
}
  
@media screen and (min-width: 1400px){

  .banner{
    height: 550px;
  }

  .banner-title-text{
    font-size: 152px;
  }

  body{
    background-color: #dedede;
  }

  .content{
    background-color: white;
    padding: 40px;
  }

  article{
    width: 32%;
    background-color: rgba(222, 222, 222, 0.5);
    padding: 30px;
  }

  .article-text-container{
    background-color: white;
  }
}
